footer p{
    text-align: left;
  }
  #navbarSupportedContent{
    position: absolute;
    right: 0;
    margin-right: 85px;
}
.navbar-brand img{
    height: 30px;
    width: 179px ;
}
@media (min-width:768px) and (max-width:1024px) {
    .navbar-brand img{
        height: 20px;
        width: 130px;
        margin-bottom: 5px;
    }
  }